* text=auto !eol
/boost-build.jam svneol=native#text/plain
example/boost/build.jam svneol=native#text/plain
example/botan/build.jam svneol=native#text/plain
example/expat/build.jam svneol=native#text/plain
example/freeimage/build.jam svneol=native#text/plain
example/freetype/build.jam svneol=native#text/plain
example/g3d/build.jam svneol=native#text/plain
example/gif/build.jam svneol=native#text/plain
example/gigabase/build.jam svneol=native#text/plain
example/irrlicht/build.jam svneol=native#text/plain
example/jpeg/build.jam svneol=native#text/plain
example/lib3ds/build.jam svneol=native#text/plain
example/libtiff/build.jam svneol=native#text/plain
example/lua/build.jam svneol=native#text/plain
example/luabind/build.jam svneol=native#text/plain
example/mng/build.jam svneol=native#text/plain
example/osg/build.jam svneol=native#text/plain
example/png/build.jam svneol=native#text/plain
example/tecla/build.jam svneol=native#text/plain
example/tinyxml/build.jam svneol=native#text/plain
example/zlib/build.jam svneol=native#text/plain
ext/bass.jam svneol=native#text/plain
ext/boost.jam svneol=native#text/plain
ext/botan.jam svneol=native#text/plain
ext/directxsdk.jam svneol=native#text/plain
ext/expat.jam svneol=native#text/plain
ext/extension.jam svneol=native#text/plain
ext/freeimage.jam svneol=native#text/plain
ext/freetype.jam svneol=native#text/plain
ext/g3d.jam svneol=native#text/plain
ext/gif.jam svneol=native#text/plain
ext/gigabase.jam svneol=native#text/plain
ext/gtk.jam svneol=native#text/plain
ext/irrlicht.jam svneol=native#text/plain
ext/jpeg.jam svneol=native#text/plain
ext/lib3ds.jam svneol=native#text/plain
ext/libtiff.jam svneol=native#text/plain
ext/lua.jam svneol=native#text/plain
ext/luabind.jam svneol=native#text/plain
ext/mng.jam svneol=native#text/plain
ext/ogre.jam svneol=native#text/plain
ext/osg.jam svneol=native#text/plain
ext/png.jam svneol=native#text/plain
ext/tecla.jam svneol=native#text/plain
ext/tinyxml.jam svneol=native#text/plain
ext/windows-psdk.jam svneol=native#text/plain
ext/wxwidgets.jam svneol=native#text/plain
ext/zlib.jam svneol=native#text/plain
/project-root.jam svneol=native#text/plain
test/ext/test-using-a.jam svneol=native#text/plain
test/ext/test-using-b.jam svneol=native#text/plain
test/ext/test-using-c.jam svneol=native#text/plain
test/main.cpp svneol=native#text/plain
test/test-using/build.jam svneol=native#text/plain
