* text=auto !eol
/boost-build.jam svneol=native#text/plain
build/build.jam svneol=native#text/plain
ext/bass.jam svneol=native#text/plain
ext/boost.jam svneol=native#text/plain
ext/botan.jam svneol=native#text/plain
ext/expat.jam svneol=native#text/plain
ext/extension.jam svneol=native#text/plain
ext/freeimage.jam svneol=native#text/plain
ext/gif.jam svneol=native#text/plain
ext/gigabase.jam svneol=native#text/plain
ext/gtk.jam svneol=native#text/plain
ext/jpeg.jam svneol=native#text/plain
ext/libtiff.jam svneol=native#text/plain
ext/lua.jam svneol=native#text/plain
ext/mng.jam svneol=native#text/plain
ext/ogre.jam svneol=native#text/plain
ext/osg.jam svneol=native#text/plain
ext/png.jam svneol=native#text/plain
ext/tecla.jam svneol=native#text/plain
ext/tinyxml.jam svneol=native#text/plain
ext/windows-psdk.jam svneol=native#text/plain
ext/wxwidgets.jam svneol=native#text/plain
ext/zlib.jam svneol=native#text/plain
/project-root.jam svneol=native#text/plain
